/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #d3d3d3;
  margin: 0;
}

header {
	display: flex;
	background: #184351;
	padding: 10px;
}

.header-image {
	width: 30%;
	padding: 10px;
}

.title-block {
	width: 70%;
	padding: 20px;
	color: #EA872C;
}

.octocat {
	border-radius: 50%;
}

section h2 {
  padding-left: 20px;
}

/* navigation bar */
#top-nav {
  display: flex;
  background: #642240;
  padding: 15px;
  margin: 0;
}

#top-nav li {
  flex-grow: 1;
  text-align: center;
  list-style-type: none;
  padding: 5px 20px;
}

#top-nav a {
  color: #FFF;
  text-decoration: none;
}

#top-nav a:hover {
  color: #3FA1AE;
}

.code-experience {
  display: flex;
}
/* school experience styles */
/*
this helped figure out the card flip, thanks w3c schools.
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card
*/
.schools {
  display: flex;
}

.school {
  width: 33.33333%;
  border: 2px black solid;
  padding: 20px;
  margin: 5px;
}

/* work experience styles */
.work-container {
  display: flex;
  width: 100%;
}

.card {
  width: 33.333%;
  margin: 5px;
  background-color: transparent;
  min-width: 300px;
  min-height: 300px;
  perspective: 1000px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 20px;

}

.front {
  background-color: #BBB;
  color: black;
}

.back {
  background-color: #3FA1AE;
  color: #FFF;
  transform: rotateY(180deg);
}

footer {
  background: #642240;
  padding: 23px;
  color: #FFF;
}

@media screen and (max-width: 780px) {
  header {
    flex-direction: column;
  }

  .header-image {
    width: 100%;
  }

  .code-experience {
    flex-direction: column;
  }

  .title-block {
    width: 100%;
    text-align: center;
  }
  .schools {
    flex-direction: column;
  }

  .school {
    width: 100%;
  }

  .work-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 100%;
  }
}
